<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>PAPAGOGO</title>
		<meta name="description" content="Tab Styles Inspiration: A small collection of styles for tabs" />
		<meta name="keywords" content="tabs, inspiration, web design, css, modern, effects, svg" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/tabs.css" />
		<link rel="stylesheet" type="text/css" href="static/css/tabstyles.css" />
  		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
        <body style="
        padding-left: 250px;
    ">
		<svg class="hidden">
			<defs>
				<path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
			</defs>
		</svg>
		<div class="container">
			<section class="related">
                <section class="related" style="
    padding-right: 300px;
">
				<body>

					<div>
						<a href="/"><img src="static/img/relatedposts/law logo.png"  width="25%"></a>
					</div>
			
				</body>
				
			</section>

				</a>
			</section>
		</div><!-- /container -->
		<script src="static/js/cbpFWTabs.js"></script>
		<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
		</script>
	</body>
        <div> 
                <div class="form-group">
                    <textarea name="text" id="mytext" cols="176" rows="10" class="form-control"></textarea>
                </div>
            <button onclick="doAction()"><img src="static/img/relatedposts/ensa.png"  width="40%"></button>       
                <script>
                    function doAction() {
                        const element = document.querySelector('#mytext');
                        const x = element.value;     
                        location.href='https://en.dict.naver.com/#/search?query='+x;
                    };
                    </script>
            <button onclick="doActionja()"><img src="static/img/relatedposts/jasa.png"  width="40%"></button>       
                    <script>
                        function doActionja() {
                            const element = document.querySelector('#mytext');
                            const x = element.value;     
                            location.href='https://ja.dict.naver.com/#/search?range=all&query='+x;
                        };
                    </script>
            <button onclick="doActionru()"><img src="static/img/relatedposts/rusa.png"  width="40%"></button>       
                    <script>
                     function doActionru() {
                         const element = document.querySelector('#mytext');
                         const x = element.value;     
                         location.href='https://dict.naver.com/rukodict/#/search?range=all&query='+x;
                     };
                    </script>    
			<button onclick="doActionsp()"><img src="static/img/relatedposts/spsa.png"  width="40%"></button>       
                    <script>
                     function doActionsp() {
                         const element = document.querySelector('#mytext');
                         const x = element.value;     
                         location.href='https://dict.naver.com/eskodict/#/search?query='+x;
                     };
                    </script>   
    </div>
</body>
</html>