<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>With Law</title>
		<meta name="description" content="Tab Styles Inspiration: A small collection of styles for tabs" />
		<meta name="keywords" content="tabs, inspiration, web design, css, modern, effects, svg" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/tabs.css" />
		<link rel="stylesheet" type="text/css" href="static/css/tabstyles.css" />
  		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body>
        <body style="
        padding-left: 225px;
    ">
		<svg class="hidden">
			<defs>
				<path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
			</defs>
		</svg>
		<div class="container">
			<section class="related">
                <section class="related" style="
    padding-right: 300px;
">
				<body>

					<div>
						<a href="/"><img src="static/img/relatedposts/law logo.png"  width="25%"style="width: 400px;"></a>
					</div>
				</body>
				
			</section>

				</a>
			</section>
		</div><!-- /container -->
		<script src="static/js/cbpFWTabs.js"></script>
		<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
		</script>
	</body>
	<div style="
    width: 1450px;
    ">
	<div> 
		<button onclick="doAction1()"><span>전국 법원 주요판결</span>
		</button>       
			<script>
				function doAction1() {     
					location.href='https://museum.scourt.go.kr/portal/dcboard/DcNewsListAction.work?gubun=44';
				};
				</script>

        <button onclick="doAction3()"><span>대법원 주요판결</span>
		</button>       
			<script>
				function doAction3() {    
					location.href='https://www.scourt.go.kr/supreme/news/NewsListAction2.work?gubun=4&type=5';
				};
				</script>

		<button onclick="doAction2()"><span>서울 고등법원 주요판결</span>
		</button>       
			<script>
				function doAction2() {     
					location.href='https://slgodung.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
		 
		<button onclick="doAction4()"><span>대전 고등법원 주요판결</span>
		</button>       
			<script>
				function doAction4() {    
					location.href='https://djgodung.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
				
		<button onclick="doAction5()"><span>대구 고등법원 주요판결</span>
		</button>       
			<script>
				function doAction5() { 
					location.href='https://dggodung.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
				
		<button onclick="doAction6()"><span>부산 고등법원 주요판결</span>
		</button>       
			<script>
				function doAction6() {    
					location.href='https://bsgodung.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
				
		<button onclick="doAction7()"><span>광주 고등법원 주요판결</span>
		</button>       
			<script>
				function doAction7() {   
					location.href='https://gjgodung.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
				
		<button onclick="doAction8()"><span>수원 고등법원 주요판결</span>
		</button>       
			<script>
				function doAction8() {
					location.href='https://swgodung.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
				
		<button onclick="doAction9()"><span>의정부 지방법원 주요판결</span>
		</button>       
			<script>
				function doAction9() {    
					location.href='https://uijeongbu.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44';
				};
				</script>
				
		<button onclick="doAction10()"><span>특허법원 주요판결</span>
		</button>       
			<script>
				function doAction10() {    
					location.href='https://patent.scourt.go.kr/dcboard/new/DcNewsListAction.work?gubun=44&cbub_code=';
				};
				</script>
</div>
</body>
</html>